<div class="alert alert-info" style="overflow:hidden" id="search-subscribe-button-id">
    <p class="pull-left" style="line-height: 32px"><span class="glyphicon glyphicon-tags"></span><strong> Dear visitor! </strong> Would you like to be save your search?</p>
    <a href="#" class="use-ajax btn btn-primary btn-sm pull-right" data-drupal-selector="edit-open-modal">{{ button }}</a>
</div>
