<a href="/search-subscribe?field_advert_bedrooms_value={{ bedrooms }}&field_advert_property_type_value={{ property_type }}"
   class="use-ajax button" data-drupal-selector="edit-open-modal">Subscribe</a>